<h1>{{artwork.title}}</h1>
<h3>{{artwork.author}}</h3>
<p>{{artwork.price}}</p>
<img src={{artwork.image}}>

<button onclick="addArtwork('{{artwork._id}}')">Agregar a mi galería</button>
<script src="/js/artworkDetails.js"></script>